<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>excel 文件导入系统 首页</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-material-design/4.0.2/bootstrap-material-design.css">

</head>
<body>
<div style="margin-top: 20px">
    <form action="/std_excel_upload/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="position: relative;display: inline-block;height: 50px;min-width: 300px;overflow: hidden;">
            <div style="position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 1000;border: 1px dotted #9d9d9d;color: #9d9d9d;line-height: 50px;padding-left: 15px;">
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                <span>点击上传文件</span>
            </div>
            <input name="stu_excel" type="file" id="excelFile" style="position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color: #333333;z-index: 1001;opacity: 0;filter:alpha(opacity=0);">
        </div>
        <div>
            <input  class="btn btn-primary" type="submit" value="提交">
        </div>
    </form>

</div>
<div style="margin-top: 20px">
    <table class="table">
        <thead>
        <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>电话</th>
            <th>qq</th>
            <th>年级</th>
            <th>班级</th>
        </tr>
        </thead>
        <tbody>
        {% for student in student_list %}
            <tr>
                <td>{{ student.std_num }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.telephone }}</td>
                <td>{{ student.qq }}</td>
                <td>{{ student.std_grade }}</td>
                <td>{{ student.std_class }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
<script src="/static/js/jquery-3.1.1.js"></script>
<script>
    $(function () {
        $("#excelFile").change(function (e) {
            let fileName = e.currentTarget.files[0].name;
            $(this).prev().find('span').text(fileName);
        });
    })
</script>
</body>
</html>